/* Global font */
* {
  font-family: 'Raleway', sans-serif;
}
.page_title{
  color: gray; 
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  margin-top: .5em;
  /* Makes Title Unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back_btn{
  margin-top:-5.4em;
  margin-left: 2em;
}